body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 10px;
}



.fas {
  font-size: 300px;
  color: slateblue;
}

.top__content {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 40px;
}

@media (max-width: 610px) {
  .top__content {
    flex-direction: column;
    gap: 10px;
  }
  .fas {
    font-size: 200px;
  }
}

button {
  width: 100%;
  max-width: 200px;
  background: transparent;
  outline: none;
  border: none;
  background: slateblue;
  color: #fff;
  height: 50px;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

.matched .fas {
  color: green;
}

.animating {
  animation-name: wobble;
  animation-duration: 1s;
}

@keyframes wobble {
  from {
    transform: translate3d(0, 0, 0);
  }
  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}